* {
  box-sizing: border-box;
}

.search input {
  width: 800px;
  height: 40px;
  margin-bottom: 20px;
  font-size: 20px;
}

.username {
  display: inline-block;
  position: absolute;
  margin-left: 20px;
}

.repos-info {
  display: -webkit-inline-box;
}

.repos-info {
  margin-left: 5px;
  list-style: none;
}

.repos-info li {
  margin-right: 10px;
  border: 1px solid grey;
}

button {
  margin-right: 10px;
}
